<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <title>All movies</title>
    <style>

    .title {
      font-family: 'Roboto Mono', monospace;
      color:black;
      line-height: 40px;
       }
    </style>

</head>
<body>

<div class="title">
    <h1>Hello, I am going to show you a movie list.<br>
       So far, we have {% if num_movies %}{{ num_movies }}{% else %}0{% endif %} movies saved.</h1>
    <h1><a href = all_movies> Browse all movies </a></h1>
</div>

</body>
</html>
